*{
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/Youth\ Picture.jpg);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  justify-items: center;
  align-items: center;
  text-align: center;
  
}
.header img{
  margin-top: 100px;
}

.header h1{
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}
.uec-logo{
  height: 200px;
  
}
.know-more-btn{
  text-decoration: none;
  color: #fff;
  border: 1px solid;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.5s;
}
.know-more-btn:hover {
  font-size: 21px;
  background-color: #fff;
  color: green;
  border: none;
  font-weight: bold;
}

@media(max-width: 700px){
  .header h1{
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 5px;
  }
}
